<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/base.css">
  </head>
  <body>
    <header>
      <h1>Hello World!</h1>
      <ul>
          <li><a href="./search">Book Search</a></li>
          <li><a href="./library">Library</a></li>
      </ul>
  </header>
    <main>
      <section>
        <ul>
          <li data-id="<%= book.id %>">
            <h4><%= book.title %></h4>
            <p><img src="book.image_url" alt=""></p>
            <p><%= book.aurthors %></p>
            <p><%= book.description %></p>
            <p><%= book.isbn %></p>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
